@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------------------------ */
/* WRITE YOUR CSS HERE :) */
/* ------------------------------------ */

header {
    background-color : #1a2a3a;
    padding: 50px;
    text-align: center;
    margin-bottom : 15px; 
}

header > p:first-of-type, ul {
    font-family : 'Roboto', sans-serif;
    font-size : 14px;
    color : #adc0d1;
}

h1 {
    font-family : 'Orbitron', sans-serif;
    font-size : 2rem;
    color: white;
    padding-bottom: 15px;
}

/* ------------------------------------ */
nav {
    background-color: #343a40;
    padding : 10px;
    text-align : center;
    justify-content : center;
}

body {
    font-family : 'Roboto', sans-serif;
    background-color: #f4f7f6;
    justify-content : center;
}

.container {
    max-width: 900px;
    margin: auto;
}

/* ------------------------------------ */

li {
    display : inline-block;
    margin-left : 15px;
    margin-right : 15px;
    padding-right : 6px;
    padding-left : 6px;
    padding-top : 2px;
    padding-bottom: 2px;
    font-weight : bold;
}

li:hover {
    background-color : #007bff;
    border-radius : 5px;
}

a:hover, a:active {
    text-decoration: underline;
    color: white;
    cursor: pointer;
}

li:active {
    background-color: #0765ca;
    border-radius : 5px;
}

nav > ul a {
    font-size : 13px;
    color : #adc0d1;
    text-decoration: none;
}

h2 {
    font-family : 'Orbitron', sans-serif;
    font-size : 1.5rem;
    color: #1a2a3a;
    padding-top : 20px;
    padding-bottom: 7px;
    border-bottom: 3px solid #007bff;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    color: #32ab4f;
    padding-bottom: 12px;
}

p {
    font-size : 13px;
    color : #34495e;
    line-height : 1.7;
    padding-top : 10px;
    padding-bottom : 10px;
}

.highlight {
    background-color : #e6f7ff;
    padding : 3px;
    border-left : #007bff solid 5px;
    font-style: italic;
}

.tool-card{
    font-size : 12px;
    background-color : white;
    padding-top : 25px;
    padding-bottom : 25px;
    padding-left : 12px;
    padding-right : 12px;
    border-radius: 7px;
    margin-bottom: 10px;
    box-shadow: 0 8px 15px #69676714;
    border: 1px solid #25242414;
}

table {
    width: 100%;
    border-collapse: collapse;
    padding: 12px;
}

th {
    background-color : #007bff;
    color : white;
    font-size: 13px;
    padding: 10px;
    text-align: left;
}

td {
    padding: 15px;
    color : black;
    font-size: 12px;
}

tr:nth-child(even) {
    background-color: white;
    border-bottom : #80808051 solid 1px;
}
tr:nth-child(odd){
    background-color: #e9ecef;
    border-bottom : #80808051 solid 1px;
}

tr:hover {
    background-color: #cce5ff;
}

/* ------------------------------------ */